.navbar-brand{
	display:flex;
	align-items: center;
	}
.item-active img, .item img{
	width : 100%;

}
#myCarousel section{
	max-width : 100%;
}

.wrapper button{
	position : absolute;
	top:80%;
	left : 45%;

}
section h2{
	font-family: 'Almendra SC';
}
section p img{
	width : 100%;
}