body{
	width : 100%;
}
.navbar-brand{
	display:flex;
	align-items: center;
	}
.img-responsive{

	width : 100%;

}
#myCarousel{
	position : relative;
	width : 100%;

}

.wrapper button{
	position : absolute;
	top:80%;
	left : 45%;

}
section h2{
	font-family: 'Almendra SC';
}
section p img{
	width : 100%;
}
@media screen and(max-width: 768px){
	.wrapper button{
		position : absolute;
		top : 110%;
		text-align: center;
	}
}