body{
	max-width : 98%;
	position : relative;
	max-height : 740px;

}
main {
  background-image:url(../img/backgroundimage.jpg);
  background-repeat: no-repeat;
  min-height: 679px;
  background-size: cover;
  position: absolute;
  width : 102%;
  font-family : 'PT Serif', serif;
}
#navigation{
	max-width: 100%;
}
#jumbo{
	background-image:url(../img/jumbotron-backimg.jpg);
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;
  
}
#outlier{
	padding-top: 200px;
	color : white;
	text-align: center;
}
.navbar-brand{
	display:flex;
	align-items: center;
	}
.img-responsive{

	width : 100%;

}
#myCarousel{
	
	width : 100%;

}

.wrapper button{
	position : absolute;
	top:80%;
	left : 45%;

}
section h2{
	font-family: 'Almendra SC';
	color : #e60000;
}
section p img{
	width : 100%;
}
@media screen and(max-width: 768px){
	.wrapper button{
		position : absolute;
		top : 110%;
		text-align: center;
	}
}

footer{
	background-color: #222;
}